html, body {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  font-family: "Trebuchet MS", tahoma, arial, serif;
  color: white;

}

p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
 }

body {
  background: black url("bg.jpg") top center no-repeat;
}

a {
	color: red;
}

#wrapper {
  border-width: 10px 1px 1px 1px;
  border-style: solid;
  border-color: #454545;
  background-color: black;
  padding: 10px;
}

#result {
  background-color: #121212;
  padding: 2em;
}

.backfront {
    width: 98%;
}

.backfront_hidden {
    width: 98%;
	display: none;
}

.randomized {
  margin: 0 auto;
  background-color: #0c131c;
  border-width: 1px;
  border-style: solid;
  border-color: #454545;
  padding: 8px;
  display: inline-block;
}

.initialNoShow {
  margin: 0 auto;
  background-color: #0c131c;
  border-width: 1px;
  border-style: solid;
  border-color: #454545;
  padding: 8px;
  display: none;
}

.name_map {
  margin: 0 auto;
  width: 500px;
}

.char_container {
  margin: 0 auto;
  width: 300px;
  background: url("main_map.png") no-repeat top center;
}

.name_enemy {
  margin: 0 auto;
  width: 500px;
}

.character {
  margin: 0 auto;
  float: left;
  width: 400px;
  height: 460px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #666666;
  background-color: #000025;
}
.changelog {
  float: left;
  width: 98%;
  margin: 0 auto;
  background-color: #0c131c;
  border-width: 1px;
  border-style: solid;
  border-color: #454545;
  padding: 8px;
  display: inline-block;
}